.main-layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;

  main {
    height: 100%;
    padding-block: 30px;
    flex: 1;
    overflow: hidden;
    display: grid;
    grid-template-columns:
      minmax(60px, 1fr) minmax(250px, 100%) minmax(60px, 1fr);

    >* {
      grid-column: 2;
      height: 100%;
      min-height: 0;
      overflow: hidden;
    }

  }
}