header {
  box-shadow: var(--box-shadow);
  width: 100%;
  height: var(--header-height);
  padding-inline: 16px;

  .navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .open-nav-drawer-button-container {
    height: 100%;
    display: flex;
    align-items: center;

    .ant-btn.open-nav-drawer-button {
      &.drawer-open .ant-btn-icon {
        color: var(--blue-600);
      }

      .ant-btn-icon {
        transition: 0.1s ease-in-out;
        font-size: 48px;
        color: light-dark(var(--gray-1000), var(--white-100));

        &:hover {
          color: var(--blue-600);
        }
      }
    }
  }
}

.ant-drawer {
  &.theme {
    background-color: transparent
  }

  .ant-drawer-content-wrapper .nav-drawer {
    background-color: light-dark(var(--white-100), var(--gray-1000));

    .ant-drawer-header {
      border: none;

      button.ant-drawer-close {
        height: 48px;
        width: 48px;
        font-size: 48px;

        .ant-btn-icon {
          color: light-dark(var(--gray-1000), var(--white-100));
        }

        &:hover {
          background-color: transparent;

          .ant-btn-icon {
            color: var(--blue-300);
          }
        }
      }

      .ant-menu {
        background-color: transparent;
        border: none;
        flex-direction: column;
        gap: 20px;
        height: fit-content;

        .ant-menu-item {
          padding-block: 20px;
          font-size: 24px;

          .ant-menu-item-icon {
            font-size: 24px;
          }
        }
      }
    }

    .ant-drawer-body {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .menu.ant-menu.ant-menu-root {
        flex-direction: column;
      }
    }
  }
}


.menu.ant-menu.ant-menu-root {
  background-color: transparent;
  width: 100%;
  height: fit-content;
  gap: 10px;
  display: flex;
  align-items: center;


  li.ant-menu-item {
    margin-inline: 0;
    padding-block: 14px;
    padding-inline: 18px;
    height: 24px;
    display: flex;
    align-items: center;
    border: 2px solid var(--gray-1000);
    border-radius: 10px;
    background-color: var(--blue-200);
    color: var(--gray-1000);
    font-weight: 700;
    transition: 0.5s;

    &::before,
    &::after {
      display: none;
    }

    &:hover {
      color: var(--gray-1000);
      background-color: var(--blue-300);
    }

    &.ant-menu-item-selected {
      background-color: var(--blue-600);
      color: var(--white-0);
    }
  }
}