@font-face {
  font-family: "Contrail";
  src: url("../../font/Contrail_One/ContrailOne-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}
