:root {
  /* Sizes */
  --header-height: 62px;

  /* Colors */
  --white-0: #fff;
  --white-100: #f3f3f3;
  --gray-100: rgb(223, 223, 223);
  --gray-300: #acaeaf;
  --gray-400: #929698;
  --gray-500: #787c7e;
  --gray-600: #525557;
  --gray-1000: #262626;
  --shadow: #00000058;
  --black: #000;

  --red-100: #fbeaea;
  --red-200: #f7d5d5;
  --red-300: #c05252;
  --red-400: #e50914;
  --red-500: #b80f1a;
  --red-600: #8f1117;
  --red-700: #661314;
  --red-800: #3d1511;
  --red-900: #14170c;


  --blue-100: #e6f0ff;
  --blue-200: #cce0ff;
  --blue-300: #99c2ff;
  --blue-400: #2f92fc;
  --blue-500: #007bff;
  --blue-600: #0056b3;
  --blue-700: #003d80;
  --blue-800: #002950;
  --blue-900: #001420;

  /* Styles */
  --box-shadow: 5px 5px 9px 1px var(--shadow);
}